{
  "extends": ["eslint:recommended", "standard", "standard-react"],
  "rules": {
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }],
    "no-multiple-empty-lines": ["error", {"max": 2}],
    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-boolean-value": ["error", "always"],
    "no-console": 1
  }
}